.searchForm {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  font-size: 24px;
  padding: 10px 20px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchFormInput,
.searchFormButton {
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
}

.searchFormInput {
  flex: 1;
  max-width: 400px;
}

.searchFormButton {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.searchFormContainer {
  background-color: #4a61bd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 20px;
}
